:root {
  --md-primary-fg-color:        #2f6f7e;
  --md-primary-fg-color--light: #3d8a9c;
  --md-primary-fg-color--dark:  #245762;
  --md-accent-fg-color:         #3d8a9c;
}
.md-typeset table:not([class]) { font-size: .74rem; }
.md-typeset img { border-radius: 6px; }
.md-header__button.md-logo img { height: 1.5rem; width: auto; }
